<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Orders</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
          crossorigin="anonymous">
    <style>
        .container {
            width: 500px;
            margin: 50px auto auto;
        }

        table {
            margin: auto;
            padding: 10px;
        }

        th {
            text-align: center;
            font-size: 15px;
            padding-bottom: 17px;
        }

        h2 {
            margin: auto auto 40px 100px;
        }

        .link {
            margin-top: 40px;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <h2>Orders for <span th:text="${#request.getRemoteUser()}"></span></h2>
    </div>
    <table class="pure-table">
        <thead>
        <tr>
            <!--<th>Client Name</th>-->
            <!--<th>Client Address</th>-->
            <th>Balloon Color</th>
            <th>Balloon Size</th>
            <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <!--<td th:text="${session.user.getUsername()}"></td>-->
            <!--<td th:text="${order.user.getSurname()}"></td>-->
            <td th:text="${order.getBalloonColor()}"></td>
            <td th:text="${order.getBalloonSize()}"></td>
            <td th:text="${order.getDateCreated()}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a href="/orders">Get All Orders</a>
    </div>
    <br>
    <div>
        <form th:action="@{'/orders'}" th:method="get">
            <label for="from"> Filter From:</label><input type="datetime-local" name="from" id="from">
            <br>
            <label for="to">Filter To:</label><input type="datetime-local" name="to" id="to">
            <br>
            <input type="submit" value="Find Orders">
            <br>
        </form>
        <br>

        <form method="get" action="/orders">
            <label>
                <select name="userId" class="form-control">
                    <option th:each="user : ${users}"
                            th:value="${user.getId()}"
                            th:text="${user.getUsername()}">
                    </option>
                </select>
            </label>
            <input type="submit" value="Filter Orders by User">
        </form>

    </div>
    <div class="link">
        <a href="/balloons">Home</a>
        <br>
        <a href="/logout">Log out</a>
    </div>
</div>

</body>
</html>