<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method TaskController.showNews -->
    <form id="filter-form">
        <label for="f1">Due in days: </label>
        <input id="f1" type="number" name="lessThanDayBeforeDueDate"/>
        <label for="f2">Assignee</label>
        <select id="f2" name="assigneeId">
            <option value="">All</option>
            <!-- For each user you should have one <option> like below  -->
            <option th:each="user : ${users}" th:text="${user.username}" th:value="${user.id}"></option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- TaskController.showAdd (Only ADMIN can see this element)-->
        <a th:href="@{'/tasks/add'}" sec:authorize="hasRole('ROLE_MANAGER')" class="add-item">
            Add
        </a>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Assignees</th>
            <th>Actions</th>
        </tr>
        <!-- For each tasks you should have one <tr> like below -->
        <tr th:each="task : ${tasks}" class="item">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.category}"></td>
            <td>
                <!-- For each of the task.assignees show the following element-->
                <span th:each="assignee : ${task.assignees}" th:text="${assignee.username}" class="item-rel"></span>
            </td>
            <td>
                <!-- TaskController.delete (Only MANAGER can see this element)-->
                <form th:method="post" th:action="@{'/tasks/{id}/delete' (id=${task.getId()})}"
                      sec:authorize="hasRole('ROLE_MANAGER')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- TaskController.showEdit (Only MANAGER can see this element)-->
                <a th:href="@{'/tasks/{id}/edit' (id=${task.getId()})}"  sec:authorize="hasRole('ROLE_MANAGER')" class="edit-item">Edit</a>

                <!-- TaskController.markDone (Visible only when the task is not done)-->
                <form th:method="post" th:action="@{'/tasks/{id}/delete' (id=${task.getId()})}"
                      sec:authorize="hasRole('ROLE_MANAGER')">
                    <button class="change-item">Mark as done</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
