<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/products/add" method="post">
                    <input type="hidden" id="id" name="id" th:value="(${product} != null ? ${product.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Product name</label>
                        <input type="text" class="form-control" id="name" name="name"
                               th:value="(${product} != null ? ${product.getName()} : '')" required
                               placeholder="Enter product name">
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" name="price"
                               th:value="(${product} != null ? ${product.getPrice()} : '')" required
                               placeholder="Enter product name">
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity"
                               th:value="(${product} != null ? ${product.getQuantity()} : '')" required
                               placeholder="Enter product name">
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <select id="category" name="category" class="form-control">
                            <option th:if="${product} != null"
                                    th:selected="${product.getCategory() != null && product.getCategory().getId() == category.getId()}"
                                    th:each="category : ${categories}" th:text="${category.getName()}"
                                    th:value="${category.getId()}">
                            </option>
                            <option th:if="${product} == null"
                                    th:each="category : ${categories}" th:text="${category.getName()}"
                                    th:value="${category.getId()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="manufacturer">Manufacturer</label>
                        <select id="manufacturer" name="manufacturer" class="form-control">
                            <option th:if="${product} != null"
                                    th:selected="${product.getManufacturer() != null && product.getManufacturer().getId() == product.getId()}"
                                    th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.getName()}"
                                    th:value="${manufacturer.getId()}">
                            </option>
                            <option th:if="${product} == null"
                                    th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.getName()}"
                                    th:value="${manufacturer.getId()}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/products">Back</a>
                </form>
            </div>
        </div>
    </div>
</th:block>
