<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
        </div>
    </section>

    <div class="container mb-5">
        <div class="row">
            <div class="col-12" th:if="${products.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Product name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}" class="product">
                            <th th:text="${product.getName()}"></th>
                            <th th:text="${product.getPrice()}"></th>
                            <th th:text="${product.getManufacturer() != null} ? ${product.getManufacturer().getName()} : 'No Manufacturer'"></th>
                            <th th:text="${product.getCategory() != null} ? ${product.getCategory().getName()} : 'No Category'"></th>
                            <td class="text-right">

                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <form th:method="delete"
                                          th:action="@{'/products/delete/{id}' (id = ${product.getId()})}">
                                        <button type="submit" class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>

                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="btn btn-sm btn-info edit-product"
                                       th:href="@{'/products/edit-form/{id}' (id=${product.getId()})}">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>

                                <form th:method="POST"
                                      sec:authorize="isAuthenticated()"
                                      th:action="@{'/shopping-cart/add-product/{id}' (id = ${product.getId()})}">
                                    <button type="submit" class="btn btn-sm btn-primary cart-product">
                                        <i class="fa fa-trash">Add product to cart</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="row">
                        <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a href="/products/add-form" class="btn btn-block btn-dark add-product-btn">Add new product</a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>

