<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method NewsController.showNews -->
    <form id="filter-form">
        <label for="price">Price</label>
        <input id="price" type="number" name="price"/>
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="">All</option>
            <!-- For each type you should have one <option> like below  -->
            <option th:each="type : ${types}" th:text="${type.toString()}" th:value="${type}"> [type]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- NewsController.showAdd -->
            <a th:href="@{'/news/add'}" class="add-item" sec:authorize="hasRole('ROLE_ADMIN')">
                Add news
            </a>
    </div>
    <table>
        <tr>
            <th>Match name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type</th>
            <th>Category</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>
        <!-- For each news you should have one <tr> like below -->
        <tr th:each="oneNews : ${news}" class="item">
            <td th:text="${oneNews.name}"></td>
            <td th:text="${oneNews.description}"></td>
            <td th:text="${oneNews.price}"></td>
            <td th:text="${oneNews.type}"></td>
            <td th:text="${oneNews.category.name}"></td>
            <td th:text="${oneNews.likes}"></td>
            <td>
                    <!-- NewsController.delete -->
                    <form th:method="post" th:action="@{'/news/{id}/delete' (id=${oneNews.getId()})}"
                          sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- NewsController.showEdit -->
                    <a th:href="@{'/news/{id}/edit' (id=${oneNews.getId()})}" class="edit-item"
                       sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
                    <!-- NewsController.follow -->
                    <form th:method="post" th:action="@{'/news/{id}/like' (id=${oneNews.getId()})}"
                          sec:authorize="hasRole('ROLE_USER')">
                        <button type="submit" class="like-item">Like</button>
                    </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
